/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Volkhov:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Gluten:wght@100;200;300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Yaldevi:wght@200;300;400;500&display=swap');


.section-intro-header{
  color: #767C70;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Gluten';
}
.section-intro-about{
  color: dimgray;
}
.service-icon{
  font-size: 60px;
  color: dimgray;
  padding: 8px;
}.service-head
*{
  padding: 0;
  margin: 0;
  line-height: 30px;
  text-decoration: none;
  list-style: none;
}
body,
input {
  font-family: "Poppins", sans-serif;
}
input[placeholder], [placeholder], *[placeholder] {
  color: rgb(15, 46, 182) !important;
}
/* Global */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov", serif;
}
/* .buy-icon{
  font-size: 15px;
  padding-right: 3px;
} */

/* .sign-btn{
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    color:white ;
    background-color: orange;
    cursor: pointer;
    transition: 1s;
} */

.intro-input{
  border: 1px solid lightgray;
  outline: none;
  box-shadow: 10px 10px 30px gray;
}